<div *ngFor="let income of income_array">
    <label for="amount-{{income.id}}">Amount</label>
    <input id="amount-{{income.id}}" type="number" [value]="income.amount" data-id="{{income.id}}">
    <label for="type-{{income.id}}">Type</label>
    <input id="type-{{income.id}}" type="text" [value]="income.income_type" data-id="{{income.id}}">
    <label for="date-{{income.id}}">Date</label>
    <input id="date-{{income.id}}" type="date" [value]="income.date" placeholder="dd-mm-yyyy">
    <mat-radio-group name="{{income.id}}-is-locked" [(ngModel)]="income.is_locked">
        <mat-radio-button [value]="true">true</mat-radio-button>
        <mat-radio-button [value]="false">false</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill">
        <mat-label> Name </mat-label>
        <input matInput placeholder="Name" value="Juan">
    </mat-form-field>
</div>
