div#app-budget {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
div#first-row {
  order: 1;
  background-color: red;
  flex-basis: 20%;
}

div#second-row {
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

div#left-column {
  order: 1;
  background-color: blue;
  flex-basis: 50%;
}

div#right-column {
  order: 2;
  background-color: green;
  flex-basis: 50%;
}
